
.ImagePageWrapper{
  display:flex;
  flex-direction:row;
  margin-top:10%;
  height:100vh;
  width:100%;
  position:fixed;
  background:transparent;
  
}
.ImageFormContainer{
  width:20%;
}
.ImagesPageContentContainer{
  width:80%;
}

.ContentTitle{
    color:white;
}
.FormContainer{
    border:solid orange 3px;
    background-color:#FF8811; 
height:85%;
margin-top:10%;
position:relative;
}
.ImageFormInput{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;

}
.ImageFormInput:focus{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
}
.ImageFormInput::placeholder{
  color:white;
}
.ImageFormInput::-webkit-file-upload-button {
  visibility: hidden;
}

.ImageFormSwitchInput{
  accent-color:rgb(233,105,57)
}
.ImageFormSubmitButton{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(5,1,26);
  margin-left:1%;
}
.ImageFormSubmitButton:hover{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(233,105,57);
}







.ContainImagePageContent{
  display:flex;
  flex-direction:column;
  background-color:transparent; 
  width:80%;
  height:auto;
  margin-left:20%;
  overflow-y: auto; 
  height:80%;
  position:sticky;
  padding:2%;
}
.ContainImagePageContent::-webkit-scrollbar {
  display: none;
}
.ImagesForm{
  background:linear-gradient(rgb(149,69,178),rgb(5,1,26));
  border-radius:25px;
  border:solid 3px rgb(233,105,57);
  padding:5%;
  margin-left:2%;
}
.ImagesPageImage{
  height:auto;
  border-radius:50px;
  padding:.2%;
  border:transparent;
}
.ImagesPageImage:hover{
  transform: scale(1.02); 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  box-shadow:black 0px 0px 15px 2px;
  border:transparent;
}
.SearchBarDiv{
  margin-left:25%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:2%;
  
}
.SearchBar{
    width:50%;
    border-radius:25px;
    padding:1%;
}
.SearchBar{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;

}
.SearchBar:focus{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
}
.SearchBar::placeholder{
  color:white;
}
