
.ImagePageWrapper{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:stretch;
  margin-top:8%;
  height:100vh;
  width:100vw;
  background:transparent;
  
}
.ImageFormContainer{
  width:40%;
  margin-left:10%;

}
.ImagesPageContentContainer{
  width:80%;
  height:100%;
}

.ContentTitle{
    color:white;
}
.ImagesFormTitle{
  font-size:2.5rem;
  font-weight:900;
  white-space: nowrap;
}


.ImageFormInput{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  margin-bottom:5%;
  font-size:1.5rem;
}
.ImageFormInput:focus{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
}
.ImageFormInputLabel{
  font-size:1.2em;
}
.ImageFormInput::-webkit-file-upload-button {
  visibility: hidden;
}

.ImageFormSwitchInput{
  accent-color:rgb(233,105,57);
  font-size:1.3em;
  margin:2%;
}
.ImageFormSubmitButton{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(5,1,26);
  margin-left:1%;
  font-size:1.3rem;
}
.ImageFormSubmitButton:hover{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(233,105,57);
}
.ContainImagePageContent{
  display:flex;
  flex-direction:row;
  width:80%;
  margin-left:10%;
  overflow-y: auto; 
  height:73%;
  position:sticky;
  padding:2%;
  background:linear-gradient(rgb(149,69,178),rgb(5,1,26));
  border-radius:25px;
  border:solid 3px rgb(233,105,57);
}
.ContainImagePageContentColumn{
  display:flex;
  flex-direction:column;
  width:50%;
  margin-right:1%;
}
.ContainImagePageContent::-webkit-scrollbar {
  display: none;
}
.ImagesFormDiv{
margin-top:21%;

}
.ImagesForm{
  background:linear-gradient(rgb(149,69,178),rgb(5,1,26));
  border-radius:25px;
  border:solid 3px rgb(233,105,57);
  padding:5%;
}
.ImagesPageImage{
  object-fit:contain;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    border-radius:15px;
    margin-bottom:1.5%;
}
.ImagesPageImage:hover{
  transform: scale(1.02); 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  box-shadow:black 0px 0px 15px 2px;
  border:transparent;
}
.SearchBarDiv{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:2%;
}
.SearchBar{
    width:65%;
    border-radius:25px;
    padding:1%;
}
.SearchBar{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 5px rgb(233,105,57);
  border-radius:25px;
  font-size:1.5em;
  padding:2%;
}
.SearchBar:focus{
  background-color:rgb(5,1,26);
  color:white;
  border:solid 5px rgb(233,105,57);
  border-radius:25px;
}
.SearchBar::placeholder{
  color:white;
}
.EditImageForm{
  width:100%
}
