.ImageTitle{
  font-size:4em;
}

.ViewImageImage{
    width:50%;
    height:50%;
}
.AboutImageText{
  font-size:1.5em;
}
.ViewImageContainer{
    margin-top:4%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:5%;
}
.EditFormContainer{
    margin-top:10%;
    display:flex;
    justify-content:center;
    flex-direction:row-reverse;
    justify-content:space-evenly;

}
.EditImageImage{
    width:50%;
}
.EditImageForm{
    background-image:linear-gradient(rgb(149,69,178),rgb(5,1,26))
}
.FolderSelectAddButton{
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
    background:rgb(5,1,26);
    margin-left:1%;
    color:white;
    font-size:1.7em;
  }
  .FolderSelectAddButton:hover{
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
    background:rgb(233,105,57);
    color:white;
  }
  
  .FolderSelect{
    background-color:rgb(5,1,26);
    color:white;
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
    margin:5%;
    font-size:1.7em;
  
  }
  .FolderSelect:focus{
    background-color:rgb(5,1,26);
    color:white;
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
  }
  .FolderSelect::placeholder{
    color:white;
  }

.ViewImageButton{
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
    background:rgb(5,1,26);
    margin-left:2%;
    margin-right:2%;
    font-size:1.7em;
    margin-bottom:2%;
  }
  .ViewImageButton:hover{
    border:solid 2px rgb(233,105,57);
    border-radius:25px;
    background:rgb(233,105,57);
  }
  .ViewImageButtonDiv{
    align-items:center;
    display:flex;
    justify-content: center;
    flex-direction:row;
    
  }
  .FolderSelectDiv{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:5%;
  }
