.UsersThreadsDiv{
  white-space: nowrap;
  position: relative;
  overflow-x:scroll;
  overflow-y:hidden;
}
.InnerUsersThreadsDiv {
  width: 24.5%;
  background-color: transparent;
  float: none;
  height: 90%;
  margin: 0 0.25%;
  display: inline-block;
  zoom: 1;
}
.PageWrapper{
  margin-top:10%;
}
