.ThreadCardContainer{
  background-color:transparent;
  color:white;
  border:transparent;
  
}
.ThreadCardBody{
  color:white;
}
.ThreadCardImage{
border-radius:25px;
position:relative;
}
.ThreadCardImage:hover{
  transform: scale(1.02); 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  box-shadow:black 0px 0px 15px 2px;
}
.ThreadCardAuthorImage{
  border-radius:25px;
  max-height:65px;
  width:20%;
  height:20%;
  position:absolute;
  top:35px;
  left:10px;
}
.ThreadTitle{
  color:white;
  text-align:center;
}
.ThreadAuthorUsername{
  position:absolute;
  top:40px;
  right:10px;
  font-size:1rem;
}
.ThreadCardDescription{
  position:absolute;
  top:170px;
  color:white;
}
.AuthorInfoContainer{
  margin-bottom:1%
}
