.ThreadCardContainer{
  background-color:transparent;
  color:white;
  border:transparent;
  margin-left:45%;
  margin-right:50%;
  
}
.ThreadCardBody{
  color:white;
}
.ThreadCardImage{
border-radius:25px;
position:relative;
border:solid 2px rgb(233,105,57);
border-radius:25px;
max-height:14rem;
object-fit:cover;
}
.ThreadCardImagePlaceholderDiv{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:linear-gradient(rgb(5,1,26));
  padding-top:5%;
}
.ThreadCardImagePlaceholder{
  margin-top:5%;
  width:51%;
  margin-left:25%;
  max-height:14rem;

}
.ThreadCardImage:hover{
  transform: scale(1.02); 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  box-shadow:black 0px 0px 15px 2px;
}
.ThreadCardAuthorImage{
  border-radius:25px;
  border:solid 2px rgb(233,105,57);
  max-height:65px;
  width:20%;
  height:20%;
  position:absolute;
  top:45px;
  left:10px;
}
.ThreadTitle{
  color:white;
  text-align:center;
  font-size:1.5em;
  font-weight:900;
}
.ThreadAuthorUsername{
  position:absolute;
  top:40px;
  right:10px;
  font-size:1.3em;
  background:linear-gradient(rgb(149,69,178),rgb(5,1,26));
  border:solid 2px rgb(233,105,57);
border-radius:25px;
padding:1%;
}
.ThreadCardDescription{
  position:absolute;
  top:170px;
  color:white;
}
.AuthorInfoContainer{
  margin-bottom:1%
}
