.UsersThreadsDiv{
  white-space: nowrap;
  position: relative;
  overflow-x:auto;
  overflow-y:hidden;
}
.UsersThreadsDiv::-webkit-scrollbar {
  display: none;
}
.InnerUsersThreadsDiv {
  width: 24.5%;
  background-color: transparent;
  float: none;
  height: 90%;
  margin: 0 0.25%;
  display: inline-block;
  zoom: 1;
  margin-left:7%;
}
.PageWrapper{
  margin-top:10%;
}
