@keyframes slideInRight {
  from{
    transform:translateX(500px);
    opacity:-5;
  }
  to{
    transform:translateX(0);
    opacity:1;
  }
}
@keyframes slideInBottom {
  from{
    transform:translateY(500px);
    opacity:-5;
  }
  to{
    transform:translateY(0);
    opacity:1;
  }
}
.ThreadsPageTitle{
  text-align:center;
  margin-bottom:3%;
  font-size:7em;
  font-weight:900;
}
.UsersThreadsDiv{
  display:flex;
  flex-direction:row;
  overflow-x:scroll;
  overflow-y:hidden;
  width:99%;
  animation:slideInBottom  .6s ease-in; 
}
.UsersThreadsDiv::-webkit-scrollbar {
  display: none;
}
.InnerUsersThreadsDiv{
  margin-left:-5%;
  margin-right:15%;
  padding:0px;
}
.PageWrapper{
  margin-top:10%;
}
