@import 'bootstrap/dist/css/bootstrap.css';
.container{
  max-width:none;
}
html,
body {
  scroll-behavior: smooth;
  color:white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image:linear-gradient(blue,purple);
}
.container{
  max-width:none;
}
.navbar{
  position:fixed;
  top:0px;
  left:0px;
width:100%;
height:10%;
z-index: 10;
animation:ease-in;
transition-duration:300ms;
background-color:transparent;
color:white;
}
.off-canvas-on-navbar{
  margin-left:5%;
}
.NavLinkList{
  display:flex;
  flex-direction:row;
  margin-right:20%;
}
.navbar-title{
 font-size:3rem;
}
.NavLink{
  margin-left:5%;
  font-size:1.1rem;
}
.navbar-signout-btn{
  margin-left:5%;
  margin-right:5%;
  font-size:1.1rem
}
.intro-div-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.home-logo{
  border-radius:100%;
}
.intro-title{
  font-size:10rem;
  font-weight:900;
}
.public-image-page-container{
  overflow-x: auto;
  white-space: nowrap;
}
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.gallery-div-container{
  display:flex;
  justify-content:center;
  text-align:center;
  height:100%;
  width:100%;

}
.gallery-current{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
transition-duration:1000ms; 
}
.gallery-container{
  height:100vh;
 text-align:center;
 padding:2%;
 }
 .gallery-content-container{
  height:100%;
  width:100%;
  object-fit: contain;
}
.gallery-button-l{
  position:absolute;
   left:30px;
   color:black;
   opacity:.5;
   z-index: 2;
 }
 .gallery-button-r{
   position:absolute;
  right:30px;
   color:black;
   opacity:.5;
   z-index: 2;
 }
 .gallery-image{
  object-fit: contain;
  max-width:auto;
  max-height:50rem;
  width:100%;
  height:100%;
}
.image-editor-page{
  margin-top:10%;
}
.view-single-user-page-container{
  margin-top:10%;
}
.UsersPage-container{
  margin-top:20%;
}
.create-thread-image{
  width:40%;
  height:50rem;
  object-fit:contain;
}
.threads-page-container{
  margin-top:20%;
}
.user-profile-page-container{
  margin-top:20%;
}
.threadProfilePicture{
  width:20%;
}
.off-canvas-container{
  background-color:black;
}
/* .carousel-container{
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 20s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 270px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  display: flex;

}

span {
  margin:auto;
  font-size: 10rem;
  
  
}


.carousel__face:nth-child(1) {
  background-color:orange;
  border-radius:25%;
  box-shadow: 25px,25px,25px;
  transform: rotateY(  0deg) translateZ(600px); }
.carousel__face:nth-child(2) { 
  background-color:orange;
  border-radius:25%;
    transform: rotateY( 27.7deg) translateZ(600px); }
.carousel__face:nth-child(3) {
  background-color:orange;
  border-radius:25%;
  transform: rotateY( 55.4deg) translateZ(600px); }
.carousel__face:nth-child(4) {
  background-color:orange;
  border-radius:25%;
  transform: rotateY(83.1deg) translateZ(600px); }
.carousel__face:nth-child(5) { 
  background-color:orange;
  border-radius:25%;
 transform: rotateY(110.8deg) translateZ(600px); }
.carousel__face:nth-child(6) { 
  background-color:orange;
  border-radius:25%;
 transform: rotateY(138.5deg) translateZ(600px); }
.carousel__face:nth-child(7) { 
  background-color:orange;
  border-radius:25%;
 transform: rotateY(166.2deg) translateZ(600px); }
.carousel__face:nth-child(8) {
  background-color:orange;
  border-radius:25%;
  transform: rotateY(193.9deg) translateZ(600px); }
.carousel__face:nth-child(9) {
  background-color:orange;
  border-radius:25%;
  transform: rotateY(221.6deg) translateZ(600px); }
  .carousel__face:nth-child(10) {
    background-color:orange;
    border-radius:25%;
    transform: rotateY(249.3deg) translateZ(600px); }
    .carousel__face:nth-child(11) {
      background-color:orange;
      border-radius:25%;
      transform: rotateY(277deg) translateZ(600px); }
      .carousel__face:nth-child(12) {
        background-color:orange;
        border-radius:25%;
        transform: rotateY(304.7deg) translateZ(600px); }
        .carousel__face:nth-child(13) {
          background-color:orange;
          border-radius:25%;
          transform: rotateY(332.4deg) translateZ(600px); }


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
} */
