@import 'bootstrap/dist/css/bootstrap.css';
.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
@keyframes slideInTop {
  from{
    transform:translateY(-1000px);
  }
  to{
    transform:translateY(0);
  }
}
@keyframes slideInRight {
  from{
    transform:translateX(500px);
    opacity:-5;
  }
  to{
    transform:translateX(0);
    opacity:1;
  }
}
@keyframes slideInBottom {
  from{
    transform:translateY(500px);
  }
  to{
    transform:translateY(0);
  }
}
html,
body {
  scroll-behavior: smooth;
  color:white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image:url(/geobackground.jpg);
}
.container{
  max-width:none;
}
.navbar{
  position:fixed;
  top:0px;
  left:0px;
width:100%;
height:10%;
z-index: 10;
animation:ease-in;
transition-duration:300ms;
background-color:transparent;
color:white;
}
.off-canvas-on-navbar{
  margin-left:5%;
}
.Navbar-logo{
  width:10%;
  height:10%;
  margin-top:5%;
}
.NavLinkList{
  display:flex;
  flex-direction:column;
  margin-right:5%;
}
.navbar-title{
 font-size:3rem;
 border:solid orange 2px;
}
.NavLink{
  margin-left:5%;
  font-size:3rem;
}
#NavLink1{
  animation:slideInRight  .5s ease-in; 
}
#NavLink2{
  animation:slideInRight  .55s ease-in; 
}
#NavLink3{
  animation:slideInRight  .6s ease-in; 
}
#NavLink4{
  animation:slideInRight  .65s ease-in; 
}
#NavLink5{
  animation:slideInRight  .7s ease-in; 
}
#NavLink6{
  animation:slideInRight  .75s ease-in; 
}
#NavLink7{
  animation:slideInRight  .8s ease-in; 
}
#NavLink8{
  animation:slideInRight  .85s ease-in; 
}
.NavLink:hover{
  color:rgb(233,105,57);
}

.intro-div-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.OffCanvas-title{
  font-size:3rem;
}

.OffCanvas-user-image{
  border-radius:25px;
  width:100%;
  border:solid 2px rgb(233,105,57);
  animation:slideInRight  .4s ease-in;
  margin-bottom:5%;
  
}
.OffCanvas-username{
  font-size:2.5rem;
  margin-bottom:5%;
  text-align:center;
  animation:slideInRight  .45s ease-in;

}
.navbar-signout-btn{
  margin-left:5%;
  margin-right:5%;
  font-size:1rem;
  margin-top:10%;
  animation:slideInRight  .9s ease-in;
}
.SignOutButton{
  font-size:2rem;
  border:solid 4px rgb(233,105,57);
  border-radius:25px;
  background:transparent;
  color:white;
}
.SignOutButton:hover{
  font-size:2rem;
   background-color:rgb(233,105,57);
   border:solid 4px rgb(233,105,57);
   border-radius:25px;
}
.gallery-div-container{
  display:flex;
  justify-content:center;
  text-align:center;
  height:100%;
  width:100%;
}
.gallery-container{
  height:100vh;
 text-align:center;
 padding:2%;
 }
 .gallery-content-container{
  height:100%;
  width:100%;
  object-fit: contain;
}
 .gallery-image{
  object-fit: contain;
  max-width:auto;
  max-height:35em;
  width:100%;
  height:100%;
}
.followed-threads-container{
  width:80%;
  height:80%;
  padding:2%;
}

.followed-threads-title{
  text-align:center;
  align-items:center;
  margin-bottom:5%;
  font-size:7rem;
  font-weight:900;
}

.followed-threads-outer-div{
  display:flex;
  flex-direction:row;
  overflow-x:scroll;
  overflow-y:hidden;
  width:99%;

}
.followed-threads-inner-div{
margin-left:-9%;
margin-right:19%;
padding:0px;
}

.followed-threads-outer-div::-webkit-scrollbar {
  display: none;
}

.public-image-section-container{

  border: orange 9px solid;
}
.followed-image-div-container{
  display:flex;
  flex-direction:column;
  background-color:transparent; 
  width:100%;
  height:auto;
  overflow-y: auto; 
  height:80%;
  position:sticky;
  padding:2%;
  margin-right:2%;
  
}
.followed-image-div-container::-webkit-scrollbar {
  display: none;
}
.public-image-page-column-container{
  display:flex;
  flex-direction:row;
}
.public-image-page-column{
 display:flex;
  flex-direction:column;
  width:40%;
  margin-left:2%;

}

.followed-images-title{
   text-align:center;
  align-items:center;
  margin-bottom:5%;
  font-size:7rem;
  font-weight:900;
}
.user-followed-image{
 object-fit:cover;
    max-width:auto;
    max-height:auto;
    width:100%;
    height:100%;
    flex-grow:1;
  border-radius:25px;
  margin:3%;
}
.user-followed-image:hover{
  transform: scale(1.02); 
  cursor: pointer; 
  transition-property: all; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  box-shadow:black 0px 0px 15px 2px;
}









.image-editor-page{
  margin-top:10%;
}
.view-single-user-page-container{
  margin-top:10%;
}
.create-thread-image{
  width:40%;
  height:50rem;
  object-fit:contain;
}
.threads-page-container{
  margin-top:20%;
}
.user-profile-page-container{
  margin-top:20%;
}
.threadProfilePicture{
  width:20%;
}
.off-canvas-show-button-div{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
}
.off-canvas-show-button-div:hover{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:rgb(233,105,57);
}

.off-canvas-show-button{
 margin-left:25%;
 font-weight:900;
  background-color:transparent;
  border:transparent;
  align-items:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-size:1rem;
  
}
.off-canvas-show-button:hover{
  border-radius:25px;
  background-color:transparent;
  border:transparent;
}
.off-canvas-show-button:focus{
background-color:transparent;
border:transparent;
border-radius:25px;
}
.off-canvas-show-button:active{
  border-radius:25px;
  background-color:transparent;
  }

.off-canvas-container{
  background-image:linear-gradient(rgb(149,69,178),rgb(5,1,26));
  margin-left:25%;
}


.gallery-carousel-container{
display:flex;
justify-content:center;
align-items:center;
object-fit:contain;

}
.carousel-image{
  object-fit: contain;
  max-width:auto;
  max-height:50em;
  width:100%;
  height:100%;
}
.carousel-control-prev, .carousel-control-next {
  margin: -200px;
  color:white;
  position:fixed;
}
.carousel-indicators {
  margin: -30px;
  color:white;
  font-size:3rem;
}

.carousel-control-prev-icon{
  background-color:rgb(149,69,178);
  border-radius:25px;
  border:solid 2px white;
  width:6rem;
  height:6rem;
}

.carousel-control-next-icon{
  background-color:rgb(149,69,178);
  border-radius:25px;
  border:solid 2px white;
  width:6rem;
  height:6rem;

}
/* Image Editor Styles */
button{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(5,1,26);
  margin-left:1%;
  color:white;
  padding:1%;
  margin-top:1%;
  margin-bottom:.5%;
  font-size:1.1em;
}
button:hover{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(233,105,57);
}
button:focus{
  border:solid 2px rgb(233,105,57);
  border-radius:25px;
  background:rgb(233,105,57);
  color:white;
}
.title{
  font-size:1.3em;
}
.name{
  font-size:1.3em;
}
.value{
  font-size:1.3em;
}
.reset-filter{
  margin-bottom:2%;
}
.choose-img{
  margin-bottom:4%;
}
