*{
  margin:0;
  padding:0;
}
@keyframes bg-animation {
  0%{
    background-position:left;
  }
  100%{
    background-position:right;
  }
}
@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}
@mixin align-center{
display:flex;
justify-content: center;
align-items: center;
}

body{
font-size:4em;
color:white;
background: center center fixed; 
background-size:cover;
margin:0;

.parallax_wrapper::-webkit-scrollbar {
  display: none;
}
  .parallax_wrapper{
  height:100vh;
  overflow-x:hidden;
  overflow-y:auto;
  perspective:300px;
    .intro_screen{
     
  .intro-div-background-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    width:100vw;
    height:100vh;
    position:relative;
    z-index:-5;
    background-image:url(/geobackground.jpg);

      .intro-div-left{
        background-image:url(/geobackground.jpg);
        background-size:200%;
        animation: bg-animation 20s linear infinite alternate;
        width:100%;
        z-index:-5;
        

      }
      .intro-div-right{
        background-image:url(/geobackgroundreverse.jpeg);
        background-size:200%;
        animation: bg-animation 20s linear infinite alternate-reverse;
        width:100%;
        z-index:-5;
      
      }
     
      .intro-title{
        font-size:10rem;
        font-weight:900;
        z-index: 2;
        position:absolute;
        margin-top:35%;
      }
      .home-logo{
        margin-top:10%;
        padding:1%;
        width:30%;
        position:absolute;
      }
     }
    }
    .outro_screen{
    height:100vh;
    background-image:linear-gradient(rgb(149,69,178),rgb(5,1,26));
    // background:transparent;
    @include align-center;
    border:solid 3px rgb(233,105,57);
    border-radius:25px;
     }
    .parallax_group{
    position:relative;
    height:100vh;
    transform-style:preserve-3d; 
      .parallax_layer{
        position:absolute;
        inset:0;
        @include align-center;
      }
      .base_layer{
        transform:translateZ(-300px)scale(2);
      }
      .mid_layer{
      transform:translateZ(210px)scale(.25);
      }
      .top_layer{
        transform: translateZ(210px)scale(.28);
      }
     }
     #intro{
      z-index: 0;
     }

     #group-1{
      z-index: -1;
     }

     #group-1 >.base_layer{
      background-image:url(/sunbackground.jpg); 
      background-size:cover;
      background-position:center;
      transform:translateZ(50)scale(1);
     }

     #group-2{
      color:white;
     }

     #group-2 >.mid_layer{
      background-image:linear-gradient(rgb(149,69,178),rgb(5,1,26));
      border:solid 3px rgb(233,105,57);
      border-radius:25px;
      width:100%;
      
     }

     #outro{
      color:white;
      transform:translateZ(0)scale(.83);
     }

  }
}
