.HeroDivContainer{
  display:flex;
  justify-content:center;
  text-align:center;
  height:100vh;
  width:100%;
  background: url('https://cdn.dribbble.com/users/2084349/screenshots/15048613/media/85c574253b7e9ec265fb5a315d16fd2d.gif') no-repeat center center fixed; 
 background-size:cover;
}
