.EditorContainer{
    background:grey;
    border-radius:25px;
    margin-bottom:2%;
    border:solid 2px orange;
    height:100vh;
}
.Wrapper{
    display:flex;
    flex-direction:row;
}
.EditorImage{
    width:70%;
    margin-left:25%;
}
.FilterDiv{
    display:flex;
    flex-direction:column;
    border:white solid 7px;
    justify-content:left;
    background-color:red;
}
.OptionsDiv{
    display:flex;
    flex-direction:column;
    justify-content: left;
}
.Controls{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:5%;
}
