
.ImagePageWrapper{
  display:flex;
  flex-direction:row;
  margin-top:10%;
  height:100vh;
  position:fixed;
  
}
.ImageFormContainer{
  width:20%;
}
.ImagesPageContentContainer{
  width:80%;
}

.ContentTitle{
    color:white;
}
.FormContainer{
    border:solid orange 3px;
    background-color:#FF8811; 
height:85%;
margin-top:10%;
position:relative;
}
.ContainImagePageContent{
  display:flex;
  flex-direction:column;
  background-color:#FF8811; 
  width:70%;
  height:auto;
  margin-left:25%;
  overflow-y: auto; 
  height:80%;
  position:sticky;
}
.ImagesPageImage{
  height:auto;
}
.SearchBarDiv{
  margin-left:25%;
  
}
