.ViewImageImage{
    width:50%;
    height:50%;
}
.ViewImageContainer{
    margin-top:6%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:5%;
}
.EditFormContainer{
    margin-top:10%;
}
